body {
    height: 100%;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}
/* the styling of the head section begins from this side.*/
.header {
    grid-area: header;
    background-color: rgb(255, 255, 255);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vw;
    letter-spacing: 1.5px;
}
@media screen and (max-width: 700px) {
    .header {
        height: 100vh;
        font-size: 50px;
    }
}
@media screen and (max-width: 500px) {
    .header {
        height: 100vh;
        font-size: 40px;
    }
}
/* the styling of the main section starts from this side.*/
.main {
    grid-area: main;
    background: url(wp.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    justify-content: center;
    padding: 20px;
}
/* Styling for the memoji background*/
.avatar-box {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./memoji.png);
    height: 200px;
    background-size: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: white;
}
.avatar-box:hover {
    background-image: url(./memoji1.png);
    transition: 0.25s;
}
.main-details {
    display: grid;
    justify-content: center;
    text-align: center;
}
/* Styling for the name and description starts from this side.*/
h1 {
    padding: 0;
    margin: 10px 0 0 0;
    color: white;
    font-family: papyrus, wheat, plato, "Curlz MT", cursive, "Comic Sans MS";
    font-size: 7rem;
}
@media screen and (max-width:700px) {
    h1 {
        font-size: 2.3rem;
    }
}
h3 {
    color: white;
    font-family: 'Segoe UI';
    font-size: 2rem;
}
@media screen and (max-width:700px) {
    h3 {
        font-size: 1.6rem;
    }
}
/* Styling for the social media section and icon section starts from this side.*/
.main-socials {
    display: flex;
    justify-content: center;
    text-align: center;
}
ul {
    padding: 0;
}
ul li {
    display: inline-block;
    font-size: 70px;
    list-style-type: none;
    margin-bottom: 100px;
}
ul li a {
    width: 70px;
    height: 70px;
    background-color: #fff;
    text-align: center;
    line-height: 73px;
    font-size: 30px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
@media screen and (max-width:700px) {
    ul li a {
        width: 30px;
        height: 30px;
        line-height: 31px;
        font-size: 15px;
    }
}
ul li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}
ul li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}
ul li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
ul li a:hover:before {
    top: 0;
}
  
ul li:nth-child(1) a:before{
    background: #3b5999;
}
ul li:nth-child(2) a:before{
    background: #55acee;
}
ul li:nth-child(3) a:before {
    background: #0077b5;
}
  
ul li:nth-child(4) a:before {
    background: linear-gradient(rgb(255, 0, 0), rgb(255, 196, 0));
}
/* The styling for the footer section start from this side.*/
.footer {
    grid-area: footer;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
@media screen and (max-width:500) {
    .footer {
        height: 40vh;
    }
}